footer {
    display: flex;
    justify-content: center;
    
    background-color: #23242C;

    padding: 1.25rem;

    .botao-agendar {
        display: flex;
        align-items: center;

        border: 1px solid var(--color-content-brand);
        border-radius: 0.5rem;

        padding: 0.75rem 1.25rem;

        font: var(--font-label-large);
        color: #050505;
        text-transform: uppercase;

        background-color: var(--color-content-brand);
        
        width: fit-content;

        cursor: pointer;

        &:hover {
            background-color: var(--color-background-highlight);
        }
    }
}